<%= render 'layouts/top_panel' %>
<h1>Hello Main Admin</h1>
<p>Find any element by sql command</p>
<%= form_tag admin_main_admin_path, :method => 'get' do %>
    <%= label_tag 'SQL command'%>
    <%= text_area_tag :sql_request, params[:sql_request]%>
    <%= submit_tag "do", :name => nil %>
    <% if @records_array.present? %>
        <% @records_array.values.each do |value|%>
            <div class="row">
              <% value.each do |elem|%>
                  <%= label_tag elem,
                                elem,
                                class:'col-xs-2' %>
              <% end %>
            </div>
            <br><br><br>
        <% end %>
    <% end %>
<% end %>