<%= render 'layouts/top_panel' %></<br>
<h1>Sellers</h1>
<p id="notice"><%= notice %></p>

<nav>



  <table class="table table-condensed table-bordered">
    <thead>
    <tr class="success">
      <th>Login</th>
      <th>books sold</th>
      <th>books bought</th>
      <th>reputation</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td class="col-md-1 active"><%=link_to user.login, user_path(user) %></td>
          <td class="col-md-1"><%= user.books_sold %></td>
          <td class="col-md-1"><%= user.books_bought%></td>
          <td class="col-md-1"><%= user.reputation %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</nav>
<%= paginate @users %>

