<%= render 'layouts/top_panel' %></<br>

<strong>Login :</strong>
<%= @user.login %>
<% if current_user == @user%>
  <%=link_to 'Edit', edit_user_user_registration_path(@user)%>
<%else%>
  <%=link_to 'write a new message', new_user_messages_path(@user) if current_user.present? %>
<% end %>

</br>
<div class="row">
  <div class="col-md-3">

    <% if @user.avatar.url.present? %>
      <%= image_tag @user.avatar.url, size:'180x200'  %>
    <%else%>
        <%= image_tag 'no-image-available.jpg', size:'180x200'  %>
    <%end%>

    <p id="notice"><%= notice %></p>
  </div>
  <div class="col-md-3">
    <% if current_user == @user%>
      <strong>Your balance: </strong>
      <%= @user.balance  %>
        </br>
    <% end %>
    <strong>Books sold: </strong>
    <%= @user.books_sold  %></br>
    <strong>Books bought: </strong>
    <%= @user.books_bought  %></br>
    <strong>Seller reputation: </strong>
    <%= @user.reputation  %></br>
    <strong>Amount of books <%=@status[:sale]%>: </strong>
    <%= link_to @counts[:for_sale], user_books_path(@user, status: @status[:sale])  %></br>
    <strong>Amount of books <%=@status[:payment]%>: </strong>
    <%= link_to @counts[:waiting_for_payment], user_books_path(@user, status: @status[:payment])  %></br>
    <strong>Amount of books <%=@status[:delivery]%>: </strong>
    <%= link_to @counts[:awaiting_delivery], user_books_path(@user, status: @status[:delivery])  %></br>
    <strong>Amount of books <%=@status[:control]%>: </strong>
    <%= link_to @counts[:awaiting_control], user_books_path(@user, status: @status[:control])  %></br>


    <%= link_to "show all products for sale", user_books_path(@user) %>
  </div>
</div>