<%= render 'layouts/top_panel' %></<br>

<strong>Login :</strong>
<%= @user.login %>
<% if current_user == @user%>
    <%=link_to 'Edit', edit_user_user_registration_path(@user)%>
<% end %>

</br>
<div class="row">
  <div class="col-md-3">

    <% if @user.avatar.url.present? %>
      <%= image_tag @user.avatar.url, size:'180x200'  %>
    <%else%>
        <%= image_tag 'no-image-available.jpg', size:'180x200'  %>
    <%end%>

    <p id="notice"><%= notice %></p>
  </div>
  <div class="col-md-3">
    <% if current_user == @user%>
      <strong>Your balance: </strong>
      <%= @user.balance  %>
        </br>
    <% end %>
    <strong>Books sold: </strong>
    <%= @user.books_sold  %></br>
    <strong>Books bought: </strong>
    <%= @user.books_bought  %></br>
    <strong>Seller reputation: </strong>
    <%= @user.reputation  %></br>
    <strong>Amount of books for sale: </strong>
    <%= link_to count(@user.books, "for sale"), user_books_path(@user, status:"for sale")  %></br>
    <strong>Amount of books waiting for payment: </strong>
    <%= link_to count(@user.books, "waiting for payment"), user_books_path(@user, status:"waiting for payment")  %></br>
    <strong>Amount of books awaiting delivery: </strong>
    <%= link_to count(@user.books, "awaiting delivery"), user_books_path(@user, status:"awaiting delivery")  %></br>
    <strong>Amount of books awaiting control of the reliability and completion of the transaction: </strong>
    <%= link_to count(@user.books, "awaiting control of the reliability and completion of the transaction"),
         user_books_path(@user, status:"awaiting control of the reliability and completion of the transaction")  %></br>


    <%= link_to "show all products for sale", user_books_path(@user) %>
  </div>
</div>