<%= render 'layouts/top_panel' %>
<p id="notice"><%= notice %></p>
<nav>
  <h1>Books</h1>
  <!--TODO:Remove <script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <div class="wrapper">
<div class="book_table">
  <div>
    <div class="row table-head">
      <div class="col-xs-2 book_col"><%=link_to 'Title', books_path(sort:'title') %></div>
      <div class="col-xs-2 book_col"><%=link_to 'Author', books_path(sort:'author') %></div>
      <div class="col-xs-2 book_col"><%=link_to 'Price', books_path(sort:'price') %></div>
      <div class="col-xs-2 book_col"><%=link_to 'User', books_path(sort:'user_id') %></div>
      <div class="col-xs-2 book_col"><%=link_to 'Binding', books_path(sort:'binding') %></div>
      <div class="col-xs-2">
        <%= form_tag books_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search], class:'search_text' %>
              <%= submit_tag "Search", :name => nil %>
            </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="accordion-menu">
    <% @books.each do |book| %>
    <div class="row selectable">
      <div class="col-xs-2 book_col"><%= book.title %></div>
      <div class="col-xs-2 book_col"><%= book.author %></div>
      <div class="col-xs-2 book_col"><%= book.price %></div>
      <div class="col-xs-2 book_col"><%= book.user.login %></div>
      <div class="col-xs-2 book_col"><%= book.binding %></div>
      <div><%= image_tag book.images.first.image.url, size: '150x100', class:'col-xs-2' if book.images.first.present? %></div>
    </div>

    <div class="product_info">
      <%= link_to 'Show', book %>
      <% if admin? current_user %>
          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <p> Created at :  <%= book.created_at %></p>
      <p> Binding : <%= book.binding %></p>
      <p> Genre : <%= book.genre %></p>
      <p> About : <%= book.about %></p>
    </div>
    <% end %>
  </div>
</div>
  </div>

  <br>
</nav>
<%= paginate @books %>


<%= link_to 'New Book', new_book_path %>