<%= render 'layouts/top_panel' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<% @book.images.each do |p| %>
    <%= image_tag p.image.url, size: '150x100' %>
<% end %>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Page count:</strong>
  <%= @book.page_count %>
</p>

<p>
  <strong>About:</strong>
  <%= @book.about %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @book.owner %>
</p>

<p>
  <strong>Date of realize:</strong>
  <%= @book.date_of_realize %>
</p>

<p>
  <strong>Binding:</strong>
  <%= @book.binding %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<% if current_user.present? %>
    <%= link_to 'buy it', new_book_order_path(@book)%> |
    <%if current_user.admin %>
        <%= link_to 'Edit', edit_book_path(@book) %>
    <% end %>|
<% end %>
<%= link_to 'Back', books_path %>

<% @book.messages.each do |message| %>
    <div class="message-field success">
      <div class="col-md-6">
        <%= image_tag message.book.user.avatar, size: '50x50' %>
        </div>
      <div class="col-md-1">
        <div class="message-author">
          <strong>Author: </strong>
          <%= message.book.user.login %>
          </br>
        </div>
        <div class="message-time">
          <strong>created_at: </strong>
          <%= message.created_at %>
          </br>
        </div>
        </br>
        <div class="message-text">
          <strong>Message: </strong>
          <%= message.message %>
        </div>
      </div>
    </div>
    </br>
    </br>
<% end %>

<% if current_user.present? %>
</br></br></br>
<strong>Add comment</strong>
</br>
    <%= form_for @message do |f|%>
        <%= f.hidden_field(:book_id, value: @book.id)   %>
        <%= f.text_area :message %>
        <%= f.hidden_field(:sender_id, value: current_user.id) %>
        <div class="actions">
          <%= f.submit  %>
        </div>
    <% end%>
<% end %>