<%= render 'layouts/top_panel' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<% @image.each do |p| %>
    <%= image_tag p.image.url, size: '150x100' %>
<% end %>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Page count:</strong>
  <%= @book.page_count %>
</p>

<p>
  <strong>About:</strong>
  <%= @book.about %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @book.owner %>
</p>

<p>
  <strong>Date of realize:</strong>
  <%= @book.date_of_realize %>
</p>

<p>
  <strong>Binding:</strong>
  <%= @book.binding %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<% if current_user.present? %>
  <%= link_to 'buy it', new_book_order_path(@book)%> |
    <%if current_user.admin %>
      <%= link_to 'Edit', edit_book_path(@book) %>
    <% end %>|
<% end %>
<%= link_to 'Back', books_path %>
</br>
<strong>Add</strong>
<%= text_area_tag :comment %>
