<div class="navbar-wrapper bind top">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <strong class="navbar-brand"><%=link_to 'Books nutting', books_path, class:'nav navbar-nav'%></strong>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home Page", controller: 'pasteboard', action: 'home'  %></li>
            <li><%= link_to "About", controller: 'pasteboard', action: "about"  %></li>
            <li><%= link_to "Contact", controller: 'pasteboard', action: 'contact'  %></li>
            <li><%= link_to "Find seller", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><os-p>Log<span class="caret"></span></os-p></a>
              <ul class="dropdown-menu" role="menu">
                <% if current_user.nil? %>
                  <li><%= link_to "Log in", new_user_session_path  %></li>
                  <li><%= link_to "Registration", new_user_registration_path  %></li>
                <% else %>
                    <li><%= link_to current_user.login, user_path(current_user) %></li>
                    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                <% end %>
                <% if current_user.present? %>
                  <li class="divider"></li>
                  <li class="dropdown-header">Balance:<%=link_to current_user.balance, user_payment_path(user_id:current_user)%> </li>
                  <li><%= link_to "Messages", messages_path, method: :get %></li>
                  <li><a href="#">Options</a></li><!--TODO: update -->

                <% end %>
              </ul>
            </li>
            <% if current_user.present?  %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><os-p>My books<span class="caret"></span></os-p></a>
              <ul class="dropdown-menu" role="menu">
                <% Book.status.values.each do |value| %>
                    <li>
                      <%= link_to Book.status.find_value(value).text + ':' +@book_counts[value.to_sym].to_s, user_books_path(current_user, status: value) %>
                    </li>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="margin-top">
  <%= yield %>
</div>