<div class="navbar-wrapper bind top">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><os-p>Books nutting</os-p></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home Page", controller: 'pasteboard', action: 'home'  %></li>
            <li><%= link_to "About", controller: 'pasteboard', action: "about"  %></li>
            <li><%= link_to "Contact", controller: 'pasteboard', action: 'contact'  %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><os-p>Log in<span class="caret"></span></os-p></a>
              <ul class="dropdown-menu" role="menu">
                <% if (current_user).nil? %>
                  <li><%= link_to "Log in", controller: 'devise/sessions', action: 'new'  %></li>
                <% else %>
                    <%= link_to current_user.login, user_path(current_user), class: "dropdown-header"  %>
                <% end %>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                <li><a href="#"><os-p>Registration</os-p></a></li>
                <% if !(current_user).nil? %>
                  <li class="divider"></li>
                  <li class="dropdown-header">Balance:<%=current_user.balance%> </li>
                  <li><a href="#">Options</a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="margin-top">
  <%= yield %>
</div>